<!--<div>
    <div class="md:flex pl-96 mt-8 ">
        <div class="md:w-full ">
         
            <h1 class="text-xl font-semibold p-6 pr-96">Liste des participants à restaurer</h1>
            
                <table class="w-96 md:w-4/5 ml-6 items-center bg-transparent border-collapse " >
                        <thead>
                            <tr>
                                <th class="px-2 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-gray-800 text-white border-gray-700">
                                    ID
                                </th>

                                <th class="px-3 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-gray-800 text-white border-gray-700">
                                    NOM
                                </th>

                                <th class="px-3 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-gray-800 text-white border-gray-700">
                                    prénom
                                </th>

                                <th class="px-5 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-gray-800 text-white border-gray-700">
                                    email
                                </th>

                              
                                <th class="px-3 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-gray-800 text-white border-gray-700">
                                    téléphone
                                </th>

                            

                                <th class="px-3 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-gray-800 text-white border-gray-700">
                                    Action
                                </th>

                            </tr>
                        </thead>

                        
                        <tbody>
                            <tr *ngFor="let user of utilisateurs">
                                <th class="border-t-0 px-2 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left flex items-center">
                                    {{ user.id }}
                                </th>
                              
                                    <td class="border-t-0 px-3 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                                        {{ user.nom }}
                                    </td>

                                    <td class="border-t-0 px-3 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                                        {{ user.prenom}}
                                    </td>
                                            
                                    <td class="border-t-0 px-5 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                                        {{ user.email }}
                                    </td>

                                
                                            
                                    <td class="border-t-0 px-3 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                                        {{ user.tel }}
                                    </td>
                                            
                              

                                    <td class="border-t-0 px-3 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-right">
                                        <form action="" method="get">
                                            <button type="submit" class="text-white px-4 h-8 rounded-full flex space-x-2 items-center border border-green-800 bg-green-800" > 
                                                Restaurer 
                                            </button>
                                            
                                        </form>
                                    </td>
                            </tr>            
                        </tbody>
                 
            </table>
        </div>
    </div> 
</div>
-->