<footer class="p-2 shadow md:px-6 md:py-4 bg-gray-200" >
    <div class="sm:flex sm:items-center sm:justify-between">
        <a href="/" class="flex items-center">
            <img src="/assets/img/logo.png" class="mt-1 h-7 w-24 md:w-28 md:h-8" alt="" />
        </a>
        <ul class="ml-80 flex md:flex-wrap items-center mb-3 text-sm sm:mb-0 font-semibold">
            <li>
                <a href="/about" class="mr-4 hover:underline hover:text-green-800 md:mr-6 ">Découvrir</a> 
            </li>
            <!--<li>
                <a href="#" class="mr-4 hover:underline hover:text-green-800 md:mr-6">Privacy Policy</a>
            </li>
            <li>
                <a href="#" class="mr-4 hover:underline hover:text-green-800 md:mr-6 ">Licensing</a>
            </li>-->
            <li>
                <a href="/contact" class="hover:underline hover:text-green-800">Contact</a>
            </li>
        </ul>
    </div>
    <hr class="my-4 border-gray-300 sm:mx-auto lg:my-2">
    <!--style="color:#00b906;"-->
    <span class="block text-sm font-semibold text-center" >© 2024 <a href="https://github.com/Faika123" class="hover:underline">Faika benzaara</a> . All Rights Reserved.
    </span>
</footer>
