<div class="container mx-auto pl-80 justify-center mt-28">
    <table class="min-w-96 ">
        <thead>
            <tr>
                <th class="px-6 py-3 bg-gray-100 text-left text-xs leading-4 font-bold text-gray-900 uppercase tracking-wider">Image</th>
                <th class="px-6 py-3 bg-gray-100 text-left text-xs leading-4 font-blod text-gray-900 uppercase tracking-wider">Nom</th>
                <th class="px-6 py-3 bg-gray-100 text-left text-xs leading-4 font-blod text-gray-900 uppercase tracking-wider">Description</th>
                <th class="px-6 py-3 bg-gray-100 text-left text-xs leading-4 font-blod text-gray-900 uppercase tracking-wider">Prix</th>
                <th class="px-6 py-3 bg-gray-100 text-left text-xs leading-4 font-blod text-gray-900 uppercase tracking-wider">Action</th>
            </tr>
        </thead>
        <tbody class="bg-white">
            <tr>
                <td class="border px-6 py-4 whitespace-no-wrap">
                    <img src="https://via.placeholder.com/50" alt="Image" class="h-32 w-64 ">
                </td>
                <td class="border px-2 py-4 whitespace-no-wrap">Nom produit</td>
                <td class="border px-4 py-4 whitespace-no-wrap">Lorem ipsum dolor sit amet consectetur adipisicing elit.Repudiandae officiis dolore distinctio cumque eligendi. </td>
                <td class="border px-2 py-4 whitespace-no-wrap">Prix produit</td>
                <td class="border px-2 py-4 whitespace-no-wrap">
                    <button class="text-indigo-600 hover:text-indigo-900">Action</button>
                </td>
            </tr>
            <!-- Repeat this row 4 more times for a total of 5 rows -->
        </tbody>
    </table>
</div>
