<!-- signup.component.html -->
<app-header></app-header>

<body class="bg-gray-50 min-h-screen flex items-center justify-center ">
    <div class="bg-white p-8 rounded shadow-md max-w-md w-full mx-auto ">
        <a href="#" class="flex items-center mb-4 font-medium text-gray-900 title-font md:mb-0 justify-center">
            <img src="/assets/img/logo.png" class="mb-10 h-7 w-28 md:w-28 md:h-8" alt="" >
        </a>
        <h2 class="text-2xl font-semibold  text-center text-black mb-8">Inscription</h2>

        <form action="/signup" method="post" enctype="multipart/form-data" (ngSubmit)="onSubmit()">
            <!-- Nom et Prénom -->
            <div class="grid grid-cols-2 gap-4">
                <div>
                    <label for="firstName" class="block text-sm font-bold text-gray-700">Prénom</label>
                    <input [(ngModel)]="signup.nom" type="text" placeholder="nom" name="firstName" class="mt-1 p-2 w-full border rounded-md">
                </div>
                <div>
                    <label for="lastName" class="block text-sm font-bold  text-gray-700">Nom</label>
                    <input [(ngModel)]="signup.prenom" type="text" placeholder="prénom" name="lastName" class="mt-1 p-2 w-full border rounded-md">
                </div>
            </div>

            <!-- Adresse email -->
            <div class="grid grid-cols-2 gap-4">
                <div class="mt-4">
                    <label for="email" class="block text-sm font-bold text-gray-700">Adresse email</label>
                    <input [(ngModel)]="signup.email" type="email" placeholder="Adresse email" name="email" class="mt-1 p-2 w-full border rounded-md">
                </div>
                <div class="mt-4">
                    <label for="telephone" class="block text-sm font-bold  text-gray-700">Téléphone</label>
                    <input [(ngModel)]="signup.tel" type="text" placeholder="Téléphone" name="telephone" class="mt-1 p-2 w-full border rounded-md">
                </div>
            </div>
            
            <!-- Mot de passe -->
            <div class="grid grid-cols-2 gap-4">
                <div class="mt-4">
                    <label for="password" class="block text-sm font-bold text-gray-700">Mot de passe</label>
                    <input [(ngModel)]="signup.mot_de_passe" type="password" placeholder="Mot de passe" name="password" class="mt-1 p-2 w-full border rounded-md">
                </div>
                <!-- Confirmer Mot de passe -->
                <div class="mt-4">
                    <label for="confirmPassword" class="block text-sm font-bold  text-gray-700">Confirmer mot de passe</label>
                    <input [(ngModel)]="signup.mot_de_passe" type="password" placeholder="Confirmer mot de passe" name="confirmPassword" class="mt-1 p-2 w-full border rounded-md">
                </div>
            </div>
            
            <!-- Télécharger une image -->
            
            <div class="mt-4">
                <label for="formFile" class="block text-sm font-bold  text-gray-700">Télécharger une image</label>
                <input [(ngModel)]="signup.photo_url" name="image" class="form-control block w-full px-2 py-1 h-10 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-gray-600 focus:outline-none" type="file" id="image">
            </div>
            <div class="mt-4">
                <label for="type de utilisateur" class="block text-sm font-bold  text-gray-700">type de utilisateur</label>
                <div>
                    <select [(ngModel)]="signup.type_utilisateur" class="form-control block w-full px-2 py-1 h-10 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-gray-600 focus:outline-none">
                        <option value="01">particpant</option>
                        <option value="02">admin</option>
                    </select>
                </div>
            </div>
            <!-- Bouton d'inscription -->
            <div class="mt-6">
                <button type="submit" class="w-full p-3 bg-green-800 font-bold  text-white rounded-md hover:bg-green-600" (click)="onSubmit()">S'inscrire</button>
            </div>
            
            <div class="mt-2 ml-5 w-96 pb-4">
                <p class="block text-sm font-medium text-center  text-gray-700">Avez-vous déjà un compte! 
                  <a href="/signin" class="text-sm text-center font-medium text-green-600 hover:underline"> 
                    S'identifier
                  </a>
                  
                </p>
            </div>
        </form>
    </div>
</body>
<app-footer></app-footer>
