
<app-header></app-header>

<div class="flex items-center justify-center min-h-screen bg-gray-50">
  <div class="w-96 mx-auto md:flex-1 md:h-full md:max-w-xl md:mx-auto bg-white rounded-lg shadow-xl mb-20">
    <div class="flex flex-col md:flex-row ml-10 md:ml-16 ">
      <div class="flex items-center justify-center p-6 sm:p-12 md:w-1/2 ">
        <div class="w-full mt-4 ">
          <h1 class="mb-6 ml-14 text-2xl font-bold font-serif md:ml-28 text-black w-96 mr-4">Réservation</h1>

          <form form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
            <div class="mt-4 w-96">
              <label for="guest" class="mb-3 block text-base font-medium text-black">
                nombre des places
              </label>
              <input type="number" name="nbr_place" id="nbr_place" placeholder="5" min="0"
                class="w-full appearance-none rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-black outline-none focus:border-black focus:shadow-md"
                formControlName="nbr_place" />
            </div>
            <div class="mt-4 w-96">
              <label for="type_ticket" class="mb-3 block text-base font-medium text-black">
                type de ticket
              </label>
              <select name="type_ticket" id="type_ticket" class="w-full appearance-none rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-black outline-none focus:border-black focus:shadow-md"
              formControlName="type_ticket" required>
                <option value="VIP">VIP</option>
                <option value="Ordinaire">Ordinaire</option>
                <option value="Premium">Premium</option>
              </select>
            </div>
            <div class="mt-4 w-96">
              <label for="date_reservation" class="mb-3 block text-base font-medium text-black">date de réservation</label>
              <input type="date" name="date_reservation" id="date_reservation"
                class="w-full appearance-none rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-black outline-none focus:border-black focus:shadow-md"
                placeholder="Date de réservation" formControlName="date_reservation" required>
            </div>
            <div class="mt-4 w-96">
              <label for="evenement_id" class="mb-3 block text-base font-medium text-black">
                Listes des évènements
              </label>
              <select name="evenement_id" id="evenement_id"
                class="w-full appearance-none rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-black outline-none focus:border-black focus:shadow-md"
                formControlName="evenement_id" required>
                <option *ngFor="let event of evenements" [value]="event.id">{{ event.titre }}</option>
              </select>
            </div>
            <button type="submit"
              class="block w-64 md:w-96 px-4 py-2 mt-8 text-sm font-bold font-serif leading-5 text-center text-white transition-colors duration-150 bg-gray-800 border border-transparent rounded-lg active:bg-gray-600 hover:bg-green-600 focus:outline-none focus:shadow-outline-gray"
              >Réserver
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

