<div>
    <div class="md:flex pl-96 ml-36 mt-16">
        <div></div>

        <div class="md:w-4/5">
            <h1 class="text-xl font-semibold p-6 pl-14 pr-8 italic">Modifier la catégorie</h1>
            <div class="border border-gray-200 shadow-xl w-8/12 ml-14 rounded-lg">
                <form class="p-5 pl-28" enctype="multipart/form-data" (submit)="onSubmit()">
                    <div>
                        <label class="title-font font-normal" for="nom">Nom</label>
                        <input type="text" name="nom" [(ngModel)]="type.nom" class="border border-gray-200 p-1 rounded-md w-56 ml-12 mb-1" placeholder="Nom de la catégorie" required>
                    </div>
                    <div>
                        <label class="title-font font-normal" for="description">Description</label>
                        <textarea name="description" [(ngModel)]="type.description" class="border border-gray-200 rounded-md w-56 ml-1" id="desc" cols="20" rows="3"></textarea>
                    </div>
                    <div class="mt-4 mb-1 ml-28">
                        <button class="text-center h-10 w-36 bg-green-800 hover:bg-green-500 text-white title-font font-semibold rounded-lg" type="submit">Confirmer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
