<div class="flex flex-wrap justify-center gap-4 mt-20">
	<a class="bg-green-900 text-white font-bold font-serif py-3 px-10 rounded-full shadow-md hover:bg-gray-500" href="">Cinéma</a>
	<a class="bg-transparent text-gray-800 font-bold font-serif py-3 px-10 rounded-full shadow-md hover:bg-gray-100" href="">conférence</a>
	<a class="bg-white text-gray-800 font-bold py-3 font-serif  px-10 rounded-full shadow-md hover:bg-gray-100" href="">Spactacle</a>
	<a class="bg-white text-gray-800 font-bold font-serif py-3 px-10 rounded-full shadow-md hover:bg-gray-100" href="">Théâtre</a>
	<a class="bg-white text-gray-800 font-bold font-serif py-3 px-10 rounded-full shadow-md hover:bg-gray-100" href="">Ateliers et cours</a>
  </div>